<!DOCTYPE html>
<html ng-app="dash">
<head>
  <title>DashingRails</title>
  <% # This is quite obviously not a secure way of doing it. But it will have to do for now. %>
  <script>
    firebase_email = '<%= ENV['FIRE_EMAIL'] %>';
    firebase_password = '<%= ENV['FIRE_PASS'] %>';
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDfKaJ_8eOecorbmzp-N6sPoJWtswR5Daw",
      authDomain: "dashboard-ef3dd.firebaseapp.com",
      databaseURL: "https://dashboard-ef3dd.firebaseio.com",
      projectId: "dashboard-ef3dd",
      storageBucket: "dashboard-ef3dd.appspot.com",
      messagingSenderId: "102303397088"
    };
    firebase.initializeApp(config);
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
